html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

.brand-logo{
  margin-left: 20px;
  top: -20px;
}

nav{
  position: fixed;
  width: 100%;
   z-index: 1;
}

.modal {
  color: black;
}

.mr20{
  margin-right: 20px;
}
.mt45{
  margin-top: 45px;
}
.mt20{
  margin-top: 20px;
}
.collapsible-header p{
  text-align: center;
  font-size: 25px;
}
.collapsible-body p{
  font-size: 25px;
}
.mr20{
  margin-right: 20px;
}

.block h2{
  text-align: center;
  padding: 40px;
  margin-top: 0;
}
.block h3{
  text-align: center;
  padding: 40px;
  margin-bottom: 0;
  margin: auto;
}
.ml700 p{
  text-align: center;
  padding: 20px
}
.fontOswald{
  font-family: 'Oswald', sans-serif;
}
.alder{
  position: fixed;
  bottom: -500px;
}
