html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: black;

}

nav{
  position: fixed;
  width: 100%;
   z-index: 1;
}

.python{
  height: 200px;
}

.parallax-container {
  height: 800px;
}

.parallax img{
  width: 100%;
}

.block{
  height: 600px;
