html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: #fff;

}

nav{
  position: fixed;
  width: 100%;
   z-index: 1;
}

.parallax-container {
  height: 800px;
}

.parallax img{
  width: 100%;
}

.block{
}

.block a{
  margin-top: 50px;
  height: 100px;
  line-height:100px;
  width: 250px;
  margin-bottom: 50px;
}
